.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.logo {
  ul {
    li {
      a:first-child {
        color: orange;
      }
    }
  }

  a {
    text-decoration: none;
    h1 {
      color: black;
    }
  }
}

.links {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style-type: none;
      margin: 15px;

      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
      }
    }
  }
}
